body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
}

.logo-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-side > img {
    width: 350px;
}

.logo-side > p {
    max-width: 350px;
    font-size: 28px;
    text-align: center;
}

.form-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-side > .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.form > input[type=email] {
    width: 350px;
    margin: 5px 5px 10px 5px;
    font-size: 18px;
    padding: 13px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}

.form > input[type=email]::placeholder {
    color: rgb(156, 151, 151);
}

.form > input[type=email]:focus {
    outline: 1px solid #1877f2;
}

.form > input[type=email]:focus::placeholder {
    color: rgb(196, 190, 190);
}

.password-field {
    width: 378px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-field > input {
    width: 325px;
    height: 10px;
    margin: 5px;
    font-size: 18px;
    padding: 13px 13px 13px 8px;
    border: none;
}

.password-field > input:focus {
    outline: none;
}

.password-field > input:focus::placeholder {
    color: rgb(196, 190, 190);
}

.password-field > img {
    width: 20px;
    margin: 5px;
    cursor: pointer;
    display: none;
}

.login-button {
    background-color: #1877f2;
    border: none;
    width: 375px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.login-button:hover {
    background-color: #166fe5;
}

.form > a {
    color: #1877f2;
    font-size: 14px;
    margin: 20px;
    text-decoration: none;
}

.form > a:hover {
    text-decoration: underline;
}

.form hr {
    width: 380px;
    border-top: 1px solid #dddfe2;
    margin: 0 0 20px 0;
}

.create-account-button {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-account-button:hover {
    background-color: #36a420;
}

.form-side > p {
    font-size: 14px;
}

.form-side > p > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.form-side > p > a:hover {
    text-decoration: underline;
}

.register-dialog {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
}

.register-dialog > .register-content {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.register-dialog > .register-content > .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #dddfe2;
}

.register-dialog > .register-content > .header > .header-text > .title {
    font-size: 32px;
    font-weight: bold;
}

.register-dialog > .register-content > .header > .header-text > .subtitle {
    font-size: 15px;
    color: #606770;
}

.register-dialog > .register-content > .header > .header-options > #close-register-button {
    cursor: pointer;
}